@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-weight: bold;
}

header {
    width: 100vw;
    height: 7vh;
    background-color: #222;
    margin-bottom: 1rem;
}
.actions {
    .color {
        > div {
            display: inline-block;
        }
        .chip {
            width: 30px;
            height: 30px;
            clip-path: circle();
            background-color: red;
            vertical-align: middle;
        }

        .label {
            margin: 0 1rem;
        }
    }

    button {
    }

}

.fluid {
    width: 100%;
}

img {
    margin: auto;
}